project: 
  type: website
  
website: 
  page-navigation: true
  title: "Bizard" 
  site-url: "http://genaimed.org/Bizard/" 
  repo-url: https://github.com/DrRobinLuo/Bizard
  repo-actions:
    - source
    - issue
  
  page-footer:
    right: "This page is built with [Quarto](https://quarto.org/)."
    left: "&copy; CC-By Peng Lab, 2024. All rights reserved."
    
  sidebar:
    logo: "images/Bizard_logo.png"
    pinned: true
    align: center
    tools: 
      - icon: github
        href: https://github.com/DrRobinLuo/Bizard
        text: "Bizard GitHub website"
      - icon: twitter
        href: https://x.com/PengL_Robin
        text: "Peng Lab Twitter"         

    style: "docked"
    search: true
    collapse-level: 1
    contents:
      - href: index.qmd
        text: Welcome
      - href: Graph-Gallery.qmd
        text: Graph Gallery
      - section: Distribution-Gallery_sec/index.qmd
        contents: 
          - Distribution-Gallery_sec/histogram.qmd
      - href: About.qmd
        text: About Us


format:
  html:
    theme:
      light: [cosmo, theme.scss] # from https://github.com/sta210-s22/website/blob/main/_quarto.yml
      dark: [cosmo, theme-dark.scss]
    code-copy: true
    code-overflow: wrap
    toc: true


filters:
  - include-files.lua
  - quarto
  
comments:
  giscus:
    repo: "DrRobinLuo/Bizard"
    repo-id: "R_kgDONWVY7Q"
    category: "Announcements"
    category-id: "DIC_kwDONWVY7c4ClcJT"
    mapping: "pathname"
    reactions-enabled: true
    input-position: "top"
    theme: "preferred_color_scheme"
    loading: "lazy"
