.sidebar-navigation {
  padding-left: 10px !important;
}

.sidebar-item {
  line-height: 1.5rem !important;
}

.figure-img {
  border: 1px solid #EEEEEE !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 10px #EEEEEE !important;
  transition: box-shadow 0.5s ease;
}

.figure-img:hover {
  box-shadow: 0px 0px 20px #EEEEEE !important;
}

.sourceCode {
  border-radius: 10px !important;
}